{% extends "::site/base.html.twig" %}

{% block seo %}
    <title>Douat Têxtil - A malha que movimenta você</title>
    <meta name="description" content="Com quase 40 anos de tradição no segmento têxtil, a história da Douat Têxtil Ltda consiste na evolução contínua para apoiar o sucesso de nossos clientes em todo o país. Conheça nossos produtos da linha Escolar, Praia, Fitness ou Lingerie." />
    <meta name="keywords" content="douat têxtil, douat, têxtil, douat tecidos, tecidos escolar, tecidos fitness, tecidos lingerie, tecidos praia, compra tecidos" />
{% endblock %}

{% block body_class %}{{ "page-home" }}{% endblock %}
{% block body %}
    <!-- home html:i -->
    <link rel="stylesheet" href="{{ asset('site/css/jquery.fullPage.css') }}" />
    <main id="fullpage">

        <section class="control-scroll control-home section">
            {% set num = 1 %}
            {% for banner in banners %}
                <div class="bg-home home-{{ num }} {% if num == 1 %}ativo{% endif %}" style="background: url({{ asset(banner.image) }}) no-repeat center top;"></div>
                {% set num = 1 + num %}
            {% endfor %}

            <div class="wrapper">
                <span class="setas seta-esq">Esquerda</span>
                <span class="setas seta-dir">Direita</span>
                <article class="content-home">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% set num = 1 %}
                            {% for banner in banners %}
                                <div class="swiper-slide {% if banner.isDark %}claro{% endif %} " data-slide="{{ num }}">
                                    <header>{{ banner.title | raw }}</header>
                                    <section>
                                        {{ banner.text | raw }}
                                        <a href="{{ banner.linkTarget }}" class="bt-default">{{ banner.linkDescription }}</a>
                                    </section>
                                </div>
                                {% set num = 1 + num %}
                            {% endfor %}
                        </div>
                    </div>
                </article>
            </div>
            <footer class="footer-home">
                <div class="limiter">
                    <div class="marcadores-home">
                        {% if banners | length > 0 %}
                            {% for i in 1 .. banners | length %}
                                <span class="swiper-pagination-switch {% if i == 1 %}ativo{% endif %}">{{ i }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <aside>
                        <nav class="social-footer-home" style="visibility: hidden;">
                            <ul>
                                <li><a href="#" class="social-facebook icon-face"><span>Facebook</span></a></li>
                                <li><a href="#" class="social-instagram icon-instagram"><span>Instagram</span></a></li>
                                <li><a href="#" class="social-blog icon-blog"><span>Blog</span></a></li>
                            </ul>
                        </nav>
                    </aside>
                    <span class="bt-scroll" data-index="2">Nossas Malhas</span>
                </div>
            </footer>
        </section>

        <section class="control-scroll secundary section" id="secundary">
            <div class="bg-malhas malha ativo" style="background: url({{ asset(bg_malha) }}) no-repeat center top #333;"></div>
            <div class="bg-malhas malha-1" style="background: url({{ asset(bg_malha_1) }}) no-repeat center top #333;"></div>
            <div class="bg-malhas malha-2" style="background: url({{ asset(bg_malha_2) }}) no-repeat center top #333;"></div>
            <div class="bg-malhas malha-3" style="background: url({{ asset(bg_malha_3) }}) no-repeat center top #333;"></div>
            <div class="bg-malhas malha-4" style="background: url({{ asset(bg_malha_4) }}) no-repeat center top #333;"></div>
            <div class="limiter limiter-secundary">
                <div class="wrapper">
                    <article>
                        <header>
                            <h3>Conheça<span>Nossas Malhas</span></h3>
                            <h3 class="sub">Nossas<span>Malhas</span></h3>
                        </header>
                        <nav class="only-desktop nav-malhas">
                            <ul>
                                <li class="node-1"><a href="{{ path('product_category_sub_list', {category_slug: 'fitness', subcategory_slug: 'colecao'}) }}" class="troca-malha" data-bg="1"><span class="icon-fitness"></span>Fitness</a></li>
                                <li class="node-2"><a href="{{ path('product_category_sub_list', {category_slug: 'lingerie', subcategory_slug: 'colecao'}) }}" class="troca-malha" data-bg="2"><span class="icon-lingerie"></span>Lingerie</a></li>
                                <li class="node-3"><a href="{{ path('product_category_sub_list', {category_slug: 'escolar', subcategory_slug: 'colecao'}) }}" class="troca-malha" data-bg="3"><span class="icon-escolar"></span>Escolar</a></li>
                                <li class="node-4"><a href="{{ path('product_category_sub_list', {category_slug: 'praia', subcategory_slug: 'colecao'}) }}" class="troca-malha" data-bg="4"><span class="icon-praia"></span>Praia</a></li>
                                <li class="node-5" style="left: 456px;  top: 100px;"><a href="{{ path('product_category_sub_list', {category_slug: 'praia', subcategory_slug: 'colecao'}) }}" class="troca-malha" data-bg="5"><span class="icon2-jacquard"></span>Jacquard</a></li>
                                <li class="node-6" style="left: 580px;  top: -24px;"><a href="{{ path('product_category_sub_list', {category_slug: 'praia', subcategory_slug: 'colecao'}) }}" class="troca-malha" data-bg="6"><span class="icon2-casual"></span>Casual</a></li>
                            </ul>
                            <span class="fake-nav node-1 troca-malha" data-bg="1" data-node="1" data-url="{{ path('product_category_sub_list', {category_slug: 'fitness', subcategory_slug: 'colecao'}) }}"></span>
                            <span class="fake-nav node-2 troca-malha" data-bg="2" data-node="2" data-url="{{ path('product_category_sub_list', {category_slug: 'lingerie', subcategory_slug: 'colecao'}) }}"></span>
                            <span class="fake-nav node-3 troca-malha" data-bg="3" data-node="3" data-url="{{ path('product_category_sub_list', {category_slug: 'escolar', subcategory_slug: 'colecao'}) }}"></span>
                            <span class="fake-nav node-4 troca-malha" data-bg="4" data-node="4" data-url="{{ path('product_category_sub_list', {category_slug: 'praia', subcategory_slug: 'colecao'}) }}"></span>
                        </nav>
                        <nav class="only-mobile nav-malhas">
                            <ul class="slide-mobile">
                                <li class="node-1"><a href="{{ path('product_category_sub_list', {category_slug: 'fitness', subcategory_slug: 'colecao'}) }}" class="troca-malha" data-bg="1"><span class="icon-fitness"></span>Fitness <br><strong>Conheça a linha</strong></a></li>
                                <li class="node-2"><a href="{{ path('product_category_sub_list', {category_slug: 'lingerie', subcategory_slug: 'colecao'}) }}" class="troca-malha" data-bg="1"><span class="icon-lingerie"></span>Lingerie <br><strong>Conheça a linha</strong></a></li>
                                <li class="node-3"><a href="{{ path('product_category_sub_list', {category_slug: 'escolar', subcategory_slug: 'colecao'}) }}" class="troca-malha" data-bg="1"><span class="icon-escolar"></span>Escolar <br><strong>Conheça a linha</strong></a></li>
                                <li class="node-4"><a href="{{ path('product_category_sub_list', {category_slug: 'praia', subcategory_slug: 'colecao'}) }}" class="troca-malha" data-bg="1"><span class="icon-praia"></span>Praia <br><strong>Conheça a linha</strong></a></li>
                            </ul>
                        </nav>
                    </article>
                </div>
            </div>

            {% include 'site/footer.html.twig' %}

        </section>

    </main>
    <!-- home html:f -->
{% endblock %}