<div class='left-side listdoubleside-container'>
    {% set aux = 1 %}
    {% set count = 1 %}
    {% for item in cameras %}

    {% if count is divisible by(4) %}
    {% set count = 1 %}
    {% set aux = aux + 1 %}
</div>
</div>
{% endif %}

                {% if count == 1 %}
<div class='listdoubleside {% if aux is divisible by(2) %} {{ 'model-right' }} {% else %} {{ 'model-left' }} {% endif %}'>
    <div class='left'>
        {% elseif count == 2 %}
    </div>
    <div class='right'>
        {% endif %}

        <div class='video-struct'>
            <a href='{{ path('camera_homepage',{'estado': item.estado_sigla|lower, 'cidade': item.cidade_slug, 'slug': item.slug } ) }}'>
                <div class='video'>
                    {% if count == 1 %}
                        <div class='image'><img width="359" height="190" src='{{ asset(item.image) }}' /></div>
                    {% else %}
                        <div class='image'><img width="142" height="75" src="{{ asset(item.image) }}"></div>
                    {% endif %}

                    <div class='play'><img src='{{ asset('site/images/play.png') }}' /></div>
                    <div class='cover'></div>
                </div>
                <div class='video-desc'>
                    <h1>
                        {% if item.titulo|length > 25 and count > 1 %}
                            {{ item.titulo|slice(0, 20) ~ '...' }}
                        {% else %}
                            {{ item.titulo }}
                        {% endif %}
                    </h1>
                    <h2>{{ item.cidade }} / {{ item.estado_sigla }}</h2>
                </div>
            </a>
        </div>

        {% set count = count + 1 %}
        {% endfor  %}
    </div>
</div>