{% extends "::site/base.html.twig" %}

{% block seo %}
    <title>Douat Têxtil - A malha que movimenta você</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <style>body{background-color: #999999 !important;}</style>
{% endblock %}

{% block body_class %}{{ "page-representantes" }}{% endblock %}

{% block body %}
    <main>

        <div class="wrapper">
            <header class="header-interna">
                <h2>Representantes</h2>
            </header>
            <div class="white_column">
                <div class="wc_title">Selecione uma Região</div>
                <div class="scrolling states">
                    {% for estado in estados %}
                        <div class="item" data-uf="{{ estado.sigla }}">{{ estado.nome }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="white_column opacity">
                <div class="wc_title">Selecione uma cidade</div>
                <div class="scrolling cities">
                </div>
            </div>
            <div class="white_column no-margin-right opacity">
                <div class="wc_title">representantes</div>
                <div class="scrolling representatives">
                </div>
            </div>

        </div>
        {% include 'site/footer.html.twig' %}

    </main>
{% endblock %}

{% block pageScripts %}
    <script type="text/javascript" src="{{ path('site_representantes_js_ajax') }}"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ asset('site/js/infobox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/markerclusterer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/maps.js?1') }}"></script>
{% endblock %}