<div class="overlay"></div>
<header class="header-container">
    <div class="limiter">
        <a href="#" class="bt-menu">Menu</a>

        <h1 class="logo">
            <a href="{{ path('home_homepage') }}" title="Douat">Douat</a>
        </h1>

        <nav class="nav-header">
            <ul>
                <li class="node-1"><a href="sobre.php">A Douat</a></li>
                <li class="node-2 parent">
                    <a href="{{ path('product_category_sub_list', {category_slug: 'fitness', subcategory_slug: 'colecao'}) }}">Malhas</a>
                    <ul>
                        <li>
                            <a href="{{ path('product_category_sub_list', {category_slug: 'fitness', subcategory_slug: 'colecao'}) }}">
                                Fitness
                                <span class="liso" data-url="{{ path('product_category_sub_list', {category_slug: 'fitness', subcategory_slug: 'todos', textura: 'lisos'}) }}">Liso</span>
                                <span class="estampado" data-url="{{ path('product_category_sub_list', {category_slug: 'fitness', subcategory_slug: 'todos', textura: 'estampados'}) }}">Estampado</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('product_category_sub_list', {category_slug: 'lingerie', subcategory_slug: 'colecao'}) }}">
                                Lingerie
                                <span class="liso" data-url="{{ path('product_category_sub_list', {category_slug: 'lingerie', subcategory_slug: 'todos', textura: 'lisos'}) }}">Liso</span>
                                <span class="estampado" data-url="{{ path('product_category_sub_list', {category_slug: 'lingerie', subcategory_slug: 'todos', textura: 'estampados'}) }}">Estampado</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('product_category_sub_list', {category_slug: 'escolar', subcategory_slug: 'colecao'}) }}">
                                Escolar
                                <span class="liso" data-url="{{ path('product_category_sub_list', {category_slug: 'escolar', subcategory_slug: 'todos', textura: 'lisos'}) }}">Liso</span>
                                <span class="estampado" data-url="{{ path('product_category_sub_list', {category_slug: 'escolar', subcategory_slug: 'todos', textura: 'estampados'}) }}">Estampado</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('product_category_sub_list', {category_slug: 'praia', subcategory_slug: 'colecao'}) }}">
                                Praia
                                <span class="liso" data-url="{{ path('product_category_sub_list', {category_slug: 'praia', subcategory_slug: 'todos', textura: 'lisos'}) }}">Liso</span>
                                <span class="estampado" data-url="{{ path('product_category_sub_list', {category_slug: 'praia', subcategory_slug: 'todos', textura: 'estampados'}) }}">Estampado</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="node-3"><a href="{{ path('site_page_services') }}">Prestação de Serviços</a></li>
                <li class="node-4"><a href="{{ path('site_representantes_homepage') }}">Representantes</a></li>
                <li class="node-5"><a href="{{ path('site_trabalhe_homepage') }}">Trabalhe Conosco</a></li>
                <li class="node-6"><a href="{{ path('contato_homepage') }}">Contato</a></li>
                <li class="node-7 parent" style="display: none">
                    <a href="#">Mídias Sociais</a>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </li>
            </ul>
            <span class="fake-nav node-1" data-node="1" data-url="{{ path('site_page_about') }}"></span>
            <span class="fake-nav node-2" data-node="2" data-url="#"></span>
            <span class="fake-nav node-3" data-node="3" data-url="{{ path('site_page_services') }}"></span>
            <span class="fake-nav node-4" data-node="4" data-url="{{ path('site_representantes_homepage') }}"></span>
            <span class="fake-nav node-5" data-node="5" data-url="{{ path('site_trabalhe_homepage') }}"></span>
            <span class="fake-nav node-6" data-node="6" data-url="{{ path('contato_homepage') }}"></span>
            <span class="fake-nav node-7" data-node="7" data-url="#" style="display: none"></span>
        </nav>

    </div>

</header>