{% extends "::site/base.html.twig" %}

{% block seo %}
    <title>{{ TituloCategoria }} - Malhas - Douat Têxtil </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
{% endblock %}

{% block body_class %}{{ "page-malha" }}{% endblock %}
{% block body %}
    <main>
        <div class="img-destaque-topo" style="background: url({{ asset(HeadImage) }}) no-repeat center top;">
            <!--
              images/topo-fitness.png
              images/topo-lingerie.png
              images/topo-praia.png
            -->
        </div>
        <div class="wrapper">
            <section class="miolo-prod">
                <header class="header-interna">
                    <h2>{{ TituloCategoria }}</h2>
                </header>
                <nav class="filtros-links">
                    <a href="{{ path('product_category_sub_list', {category_slug: category_slug, subcategory_slug: 'colecao'}) }}"{% if subcategory_slug == 'colecao' %}class="ativo" {% endif %}>Nossa Coleção</a>
                    <a href="{{ path('product_category_sub_list', {category_slug: category_slug, subcategory_slug: 'lancamentos'}) }}" {% if subcategory_slug == 'lancamentos' %}class="ativo" {% endif %}>Lançamentos</a>
                    <a href="{{ path('product_category_list', {category_slug: category_slug}) }}" class="{% if subcategory_slug is null %}ativo {% endif %} last">Todos</a>
                </nav>
                <form class="filtro" method="get" action="{{ path('product_category_search') }}">
                    <select name="familia" id="familia" class="select">
                        {% for Familia in Familias %}
                            <option value="{{ Familia.slug }}" {% if familia == Familia.slug %}selected{% endif %}>{{ Familia.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="acabamento" id="acabamento" class="select">
                        <option value="">Acabamento</option>
                        {% for Acabamento in Acabamentos %}
                            <option value="{{ Acabamento.name }}" {% if acabamento == Acabamento.name %}selected{% endif %}>{{ Acabamento.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="cor" id="cor" class="select">
                        <option value="">Cor</option>
                        <option value="Estampados" {% if cor == 'Estampados' %}selected{% endif %}>Estampados</option>
                        <option value="Lisos" {% if cor == 'Lisos' %}selected{% endif %}>Lisos</option>
                        {% for Cor in Cores %}
                            {% if 'estampa' not in Cor.name|lower %}
                                <option value="{{ Cor.name }}" {% if cor == Cor.name %}selected{% endif %}>{{ Cor.code }} - {{ Cor.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="text" name="malha" placeholder="Nome da malha">
                    <button type="submit">Filtrar</button>
                </form>
                <ul class="lista-blocos">
                    {% if Products|length > 0 %}
                        {% for Product in Products %}
                            {% if Product.isActive == 1 %}
                                <li>
                                    <a href="{{ path('product_show', {category_slug: Product.productCategory.slug, product_slug: Product.slug}) }}">
                                        <span><img src="{{ asset(Product.image) }}" width="300" height="185"></span>
                                        <strong>{{ Product.name }}</strong>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <strong class="nada-encontrado">Não há registros cadastrados nessa área até o momento.</strong>
                    {% endif %}
                </ul>

            </section>

        </div>
        {% include 'site/footer.html.twig' %}
    </main>
{% endblock %}