{% extends "::site/base.html.twig" %}

{% block seo %}
    <title>{{ TituloCategoria }} - Malhas - Douat Têxtil </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
{% endblock %}

{% block body_class %}{{ "page-malha" }}{% endblock %}
{% block body %}
    <main>
        <div class="img-destaque-topo" style="background: url({{ asset(HeadImage) }}) no-repeat center top;">
            <!--
              images/topo-fitness.png
              images/topo-lingerie.png
              images/topo-praia.png
            -->
        </div>
        <div class="wrapper">
            <section class="miolo-prod">
                <header class="header-interna">
                    <h2>{{ TituloCategoria }}</h2>
                </header>
                <nav class="filtros-links">
                    <a href="{{ path('product_category_sub_list', {category_slug: category_slug, subcategory_slug: 'colecao'}) }}"{% if subcategory_slug == 'colecao' %}class="ativo" {% endif %}>Nossa Coleção</a>
                    <a href="{{ path('product_category_sub_list', {category_slug: category_slug, subcategory_slug: 'lancamentos'}) }}" {% if subcategory_slug == 'lancamentos' %}class="ativo" {% endif %}>Lançamentos</a>
                    <a href="{{ path('product_category_list', {category_slug: category_slug}) }}" class="{% if subcategory_slug is null %}ativo {% endif %} last">Todos</a>
                </nav>
                <form class="filtro" method="get" action="{{ path('product_category_search') }}">
                    <input type="hidden" name="familia" id="familia" value="{% if familia is not null %}{{ familia }}{% endif %}">
                    <input type="hidden" name="acabamento" id="acabamento" value="{% if acabamento is not null %}{{ acabamento }}{% endif %}">
                    <input type="hidden" name="cor" id="cor" value="{% if cor is not null %}{{ cor }}{% endif %}">
                    <select name="familia" id="familia" class="select">
                        <option value="">Família</option>
                        {% for Familia in Familias %}
                            <option value="{{ Familia.slug }}" {% if familia == Familia.slug %}selected{% endif %}>{{ Familia.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="acabamento" id="acabamento" class="select">
                        <option value="">Acabamento</option>
                        {% for Acabamento in Acabamentos %}
                            <option value="{{ Acabamento.name }}" {% if acabamento == Acabamento.name %}selected{% endif %}>{{ Acabamento.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="cor" id="cor" class="select">
                        <option value="">Cor</option>
                        <option value="Estampados" {% if cor == 'Estampados' %}selected{% endif %}>Estampados</option>
                        {% for Cor in Cores %}
                            {% if 'estampa' not in Cor.name|lower %}
                                <option value="{{ Cor.name }}" {% if cor == Cor.name %}selected{% endif %}>{{ Cor.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="text" name="malha" placeholder="Nome da malha" value="{% if malha is not null %}{{ malha }}{% endif %}">
                    <button type="submit">Filtrar</button>
                </form>
                {% if Products %}
                    <ul class="lista-blocos">
                        {% for Product in Products %}
                        {% if Product.isActive == 1 %}
                            <li>
                                <a href="{{ path('product_show', {category_slug: Product.ProductCategory.slug, product_slug: Product.slug}) }}">
                                    <span><img src="{{ asset(Product.image) }}"></span>
                                    <strong>{{ Product.name }}</strong>
                                </a>
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Nenhuma malha foi encontrada.</p>
                {% endif %}

            </section>

        </div>
        {% include 'site/footer.html.twig' %}
    </main>
{% endblock %}