{% extends "::site/base.html.twig" %}

{% block seo %}
    <title>{{ TituloCategoria }} - Malhas - Douat Têxtil </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
{% endblock %}

{% block body_class %}{{ "page-malha" }}{% endblock %}
{% block body %}
    <main>
        <div class="img-destaque-topo" style="background: url({{ asset(HeadImage) }}) no-repeat center top;">
            <!--
              images/topo-fitness.png
              images/topo-lingerie.png
              images/topo-praia.png
            -->
        </div>
        <div class="wrapper">
            <section class="miolo-prod">
                <header class="header-interna">
                    <h2>{{ TituloCategoria }}</h2>
                </header>
                <nav class="filtros-links">
                    <a href="{{ path('product_category_sub_list', {category_slug: category_slug, subcategory_slug: 'lancamentos'}) }}" {% if subcategory_slug == 'lancamentos' %}class="ativo" {% endif %}>Lançamentos</a>
                    <a href="{{ path('product_category_sub_list', {category_slug: category_slug, subcategory_slug: 'colecao'}) }}"{% if subcategory_slug == 'colecao' %}class="ativo" {% endif %}>Nossa Coleção</a>
                    <a href="{{ path('product_category_list', {category_slug: category_slug}) }}" class="{% if subcategory_slug is null %}ativo {% endif %} last">Todos</a>
                </nav>
                <form class="filtro" method="get" action="{{ path('product_category_search') }}">
                    <input type="hidden" name="familia" id="familia" value="{% if familia is not null %}{{ familia }}{% endif %}">
                    <input type="hidden" name="acabamento" id="acabamento" value="{% if acabamento is not null %}{{ acabamento }}{% endif %}">
                    <input type="hidden" name="cor" id="cor" value="{% if cor is not null %}{{ cor }}{% endif %}">
                    <div class="selectbox">
                        <a href="#" class="label">{% if familia is not null %}{{ familia }}{% else %}Familia{% endif %}</a>
                        <div class="opc-selectbox" data-input="familia">
                            {% for Familia in Familias %}
                                <a href="#" data-value="{{ Familia.slug }}">{{ Familia.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="selectbox">
                        <a href="#" class="label">{% if acabamento %}{{ acabamento }}{% else %}Acabamento{% endif %}</a>
                        <div class="opc-selectbox" data-input="acabamento">
                            <a href="#" data-value="">Todos</a>
                            {% for Acabamento in Acabamentos %}
                                <a href="#" data-value="{{ Acabamento.name }}">{{ Acabamento.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="selectbox">
                        <a href="#" class="label">{% if cor %}{{ cor }}{% else %}Cor{% endif %}</a>
                        <div class="opc-selectbox" data-input="cor">
                            <a href="#" data-value="">Todas</a>
                            <a href="#" data-value="Estampados">Estampados</a>
                            {% for Cor in Cores %}
                                {% if 'estampa' not in Cor.name|lower %}
                                    <a href="#" data-value="{{ Cor.name }}">{{ Cor.code }} - {{ Cor.name }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <input type="text" name="malha" placeholder="Nome da malha" value="{% if malha is not null %}{{ malha }}{% endif %}">
                    <button type="submit">Filtrar</button>
                </form>
                {% if Products %}
                    <ul class="lista-blocos">
                        {% for Product in Products %}
                            <li>
                                <a href="{{ path('product_show', {category_slug: Product.ProductCategory.slug, product_slug: Product.slug}) }}">
                                    <span><img src="{{ asset(Product.image) }}"></span>
                                    <strong>{{ Product.name }}</strong>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Nenhuma malha foi encontrada.</p>
                {% endif %}

            </section>

        </div>
        {% include 'site/footer.html.twig' %}
    </main>
{% endblock %}