<nav class="navbar hidden-print main " role="navigation">
    <div class="navbar-header pull-left">
        <div class="user-action user-action-btn-navbar pull-left border-right">
            <button class="btn btn-sm btn-navbar btn-inverse btn-stroke"><i class="fa fa-bars fa-2x"></i>
            </button>
        </div>
    </div>
    <div class="logo">
        <img class="media-object thumb" src="{{ asset('cms/images/logo.jpg') }}" alt="Tag Interativa" height="45" />
    </div>

    <ul class="main pull-right ">
        <!--
        <li class="dropdown notif notifications hidden-xs">
            <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-bell-fill"></i> <span class="label label-danger">5</span></a>
            <ul class="dropdown-menu chat media-list pull-right">
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object thumb" src="{{ asset('cms/images/people/100/15.jpg') }}"
                        alt="50x50" width="50" />
                    </a>
                    <div class="media-body">
                        <span class="label label-default pull-right">5 min</span>
                        <h5 class="media-heading">Adrian D.</h5>
                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object thumb" src="{{ asset('cms/images/people/100/16.jpg') }}"
                        alt="50x50" width="50" />
                    </a>
                    <div class="media-body">
                        <span class="label label-default pull-right">2 days</span>
                        <h5 class="media-heading">Jane B.</h5>
                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                    </div>
                </li>
                <li class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object thumb" src="{{ asset('cms/images/people/100/17.jpg') }}"
                        alt="50x50" width="50" />
                    </a>
                    <div class="media-body">
                        <span class="label label-default pull-right">3 days</span>
                        <h5 class="media-heading">Andrew M.</h5>
                        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit.</p>
                    </div>
                </li>
                <li><a href="#" class="btn btn-primary"><i class="fa fa-list"></i> <span>View all messages</span></a>
                </li>
            </ul>
        </li>
        -->
        <li class="dropdown username">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                {{ app.security.getToken().getUser().getNome() }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu pull-right">
                <li><a href="{{ path('cms_user_edit', { 'id': app.security.getToken().getUser().getId() }) }}" class="glyphicons settings"><i></i>Meus dados</a>
                </li>
                <li><a href="{{ path('logout') }}" class="glyphicons lock no-ajaxify"><i></i>Sair</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- // END navbar -->