{% extends '::admin_template.html.twig' %}

{% block title %}
    Editar Representante |
{% endblock %}

{% block content %}
    <h1>
        Editar Representante
                    <a class="btn btn-primary" href="{{ path('cms_representantes_new') }}">
                Adicionar novo
            </a>
            </h1>

    <div class="widget widget-heading-simple widget-body-white">
        <div class="widget-body">
            <div class="innerLR">
                <div class="form-horizontal">
                    {{ form(edit_form) }}

                                            {{ form(delete_form) }}
                    
                    <div style="clear: both;"></div>
                 </div>
            </div>
        </div>
    </div>

        <a class="btn btn-default go-back" href="{{ path('cms_representantes') }}">
    Voltar
</a>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#cms_representantebundle_representante_estado').change(function(){
                var val = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ url('cms_representantes_ajax_estados') }}?estado_id=" + val,
                    success: function(data) {

                        // Remove current options
                        $('#cms_representantebundle_representante_cidade').html('');

                        $.each(data, function(k, v) {
                            $('#cms_representantebundle_representante_cidade').append('<option value="' + v + '">' + k + '</option>');
                        });
                    }
                });

                return false;
            });
        });

    </script>

{% endblock %}
