{% extends "::site/base.html.twig" %}

{% block seo %}
    <title>Contato - Douat Têxtil - A malha que movimenta você</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
{% endblock %}

{% block body_class %}{{ "page-trabalhe" }}{% endblock %}
{% block body %}

    <!-- home html:i -->

    <main>

        <div class="wrapper">
            <header class="header-interna">
                <h2>Trabalhe Conosco</h2>
            </header>
            <p class="intro-form">
                Seja um profissional Douat.<br>
                Preencha o formulário abaixo e anexe seu currículo para enviar suas informações para nós.<br><br>
                <a href="mailto:rh@douattextil.com.br">rh@douattextil.com.br</a>

            </p>
            {% if(Messages) %}
                <p>
                    {% for Mensagem in Messages %}
                        {{ Mensagem }}
                    {% endfor %}
                </p>
            {% endif %}
            <form class="form-default" action="{{ path('site_trabalhe_send') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="estado" id="estado">
                <input type="hidden" name="cidade" id="cidade">
                <input type="text" placeholder="Nome" name="nome" required>
                <input type="text" placeholder="E-mail" name="email" required>
                <input type="text" placeholder="Telefone" name="telefone" class="tel">
                <input type="text" placeholder="Data de nascimento" class="input-half data" name="datanasc" id="datanasc">
                <input type="text" placeholder="Sexo" class="input-half nomargin" name="sexo">
                <div class="selectbox">
                    <a href="#" class="label">Estado</a>
                    <div class="opc-selectbox" data-input="estado" id="estados">
                        {% for Estado in Estados %}
                        <a href="#" data-value="{{ Estado.id }}">{{ Estado.nome }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="selectbox nomargin">
                    <a href="#" class="label">Cidade</a>
                    <div class="opc-selectbox" data-input="cidade" id="cidades">
                        <a href="#" data-value="">Primeiro selecione um estado</a>
                    </div>
                </div>
                <div class="browse-wrap">
                    <div class="title">Anexar CV</div>
                    <input type="file" name="upload" class="upload" title="Choose a file to upload">
                </div>
                <textarea placeholder="Mensagem" name="mensagem" required></textarea>
                <button type="submit" class="bt-default">Enviar</button>
                <span class="upload-path"></span>
            </form>


        </div>
        {% include 'site/footer.html.twig' %}

    </main>

    <!-- home html:f -->
{% endblock %}