{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pantone</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Hex</th>
                <td>{{ entity.hex }}</td>
            </tr>
            <tr>
                <th>Red</th>
                <td>{{ entity.red }}</td>
            </tr>
            <tr>
                <th>Green</th>
                <td>{{ entity.green }}</td>
            </tr>
            <tr>
                <th>Blue</th>
                <td>{{ entity.blue }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{{ entity.isActive }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn btn-default go-back" href="{{ path('cms_pantone') }}">
    Voltar
</a>

    <li>
        <a  href="{{ path('cms_pantone_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
{% endblock %}
