{% extends "::site/base.html.twig" %}

{% block seo %}
    <title>{{ Product.name }} - {% if Product.ProductCategory.Parent %}{{ Product.ProductCategory.Parent.name }}{% else %}{{ Product.ProductCategory.name }}{% endif %} - Douat Têxtil </title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
{% endblock %}

{% block body_class %}{{ "page-malha" }}{% endblock %}
{% block body %}
    <main>

    <main>

        <div class="img-destaque-topo" style="background: url({{ asset(Product.ProductCategory.image) }}) no-repeat center top;">

        </div>
        <div class="wrapper">
            <section class="miolo-prod">
                <header class="header-interna">
                    <h3>{% if Product.ProductCategory.Parent %}{{ Product.ProductCategory.Parent.name }}{% else %}{{ Product.ProductCategory.name }}{% endif %}</h3>
                </header>
                <div class="topo-prod">
                    <a href="{{ path('product_category_sub_list', {category_slug: Product.ProductCategory.Parent.slug, subcategory_slug: Product.ProductCategory.slug}) }}" class="lk-voltar">Voltar</a>
                    <ul class="cats-prod">
                        <li><a href="{{ path('home_homepage') }}">Página Inicial</a> /</li>
                        <li><a href="{{ path('product_category_list', {category_slug: Product.ProductCategory.Parent.slug}) }}">{{ Product.ProductCategory.Parent.slug }}</a> /</li>
                        <li><a href="{{ path('product_category_sub_list', {category_slug: Product.ProductCategory.Parent.slug, subcategory_slug: Product.ProductCategory.slug}) }}">{{ Product.ProductCategory.slug }}</a>/</li>
                        <li>{{ Product.name }}</li>
                    </ul>
                    <h2>{{ Product.name }}</h2>
                    <div class="figure">
                        <div class="img-malha" data-altura="627" style="background-image: url({{ asset(Product.image) }});"><span class="fechar-foto"></span></div>
                    </div>
                    <a href="#" class="icon-zoom"></a>
                </div>

                <article class="desc-prod">
                    <div>
                        <!--
                        <strong class="tit-medio">Sobre o tecido</strong>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>-->
                        <div class="estampa-zoom"><span class="fechar-foto"></span></div>
                        <strong class="tit-medio">{% if Product.ProductColor[0].image %}Estampas{% else %}Cores{% endif %} disponíveis</strong>
                        {% for Cor in Product.ProductColor %}
                            {% if Cor.image %}
                            <a href="#" class="bloco-cor bloco-estampas" data-bg="{{ asset(Cor.image) }}" style="background: url('{{ asset(Cor.image) }}'); background-size: cover">{{ Cor.code }}</a>
                            {% elseif Cor.Pantone %}
                            <span class="bloco-cor" style="background: #{{ Cor.Pantone.hex }};">{{ Cor.code }}</span>
                            {% else %}
                            <span class="bloco-cor" style="background: #{{ Cor.hexadecimal }};">{{ Cor.code }}</span>
                            {% endif %}
                        {% endfor %}

                    </div>
                    <aside>
                        <strong class="tit-medio">Código: {{ Product.code }}</strong>
                        <p>
                            Composição: {{ Product.composicao }}<br>
                            Gramatura: {{ Product.gramatura }}<br>
                            Largura: {{ Product.largura }}<br>
                            Rendimento: {{ Product.rendimento }}
                        </p>
                        PA = Poliamida | PES = Poliéster<br>
                        PUE = Elastano | CV = Viscose
                        <!--<a href="#" class="bt-default open-ficha">Ficha técnica</a>-->
                    </aside>
                </article>
                <div class="float-malha"><span class="fechar-foto"></span><img src="{{ asset(Product.image) }}"></div>
                {% if Product.ProductRelated.count %}
                <strong class="tit-medio">Malhas semelhantes</strong>
                <ul class="lista-blocos">
                    {% for Related in Product.ProductRelated %}
                    <li>
                        <a href="{{ path('product_show', {category_slug: Related.ProductCategory.slug, product_slug: Related.slug}) }}">
                            <span style="background-image: url({{ asset(Related.image) }});"></span>
                            <strong>{{ Related.name }}</strong>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

            </section>

        </div>
        <{% include 'site/footer.html.twig' %}

    </main>

{% endblock %}